.white {
  background-color: #fafafa;
}

.white_c {
  color: #fafafa;
}

.y-center {
  text-align: center;
}

.w-max, video {
  width: 100%;
}

.videolistbox {
  width: 100%;
  border-bottom: 1px solid #b2b2b2;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
}

.videolistbox > .left {
  width: 45%;
  background-color: #000;
}

.videolistbox > .right {
  padding: 4px;
  width: 55%;
}

.videolistbox > .right {
  margin-left: 5px;
}

.videolistbox .thumbnail {
  width: 100%;
}

.videoname {
  font-size: 1.2em;
}

.videolistbox .videodesc {
  margin-top: 5px;
}

.username {
  font-size: 13px;
  color: #585858;
}

.cut {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#DisplayBox > .toast {
  background-color: #fafafa;
  border-radius: 4px;
  border: 1px solid #b2b2b2;
}

.VideoonPage {
  position: fixed;
  top: 0;
  left: 0;
}

.FlexBox {
  display: flex;
}

.FlexBox > .left, .FlexBox > .right {
  width: 50%;
}

.FlexBox > .right, .black {
  color: #000;
}

#videoname {
  padding-top: 5px;
  padding-left: 5px;
  font-weight: bold;
  white-space: normal;
}

#DisplayBox > .toast {
  padding: 0;
  line-height: initial;
}

#DisplayBox .toast__message {
  margin-right: 5px;
}

.invisible {
  display: none;
}

#videoPage {
  min-height: 100%;
}

.VideoBox {
  position: relative;
}

.VideoBackController {
  width: 100%;
  position: fixed;
  top: 0;
}

#videomainbox, video {
  line-height: initial;
}

#videoPage {
  padding-top: 60%;
}

.icon {
  object-fit: cover;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

#VideoController {
  z-index: 20000 !important;
}

#VideoController > .toast {
  background-color: rgba(0, 0, 0, .4);
  border-radius: 0;
  left: 0;
  right: 0;
  margin: 0;
}

#VideoController .toast__message {
  position: relative;
  margin: 10px 0 0;
  white-space: normal;
  line-height: 1;
}

.VideoController_bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.VideoController_top_right {
  float: right;
}

#VideoRange .range--material__input {
  background-image: linear-gradient(#0076ff, #0076ff);
}

@media screen and (orientation: landscape) {
  #BoxDesc {
    width: 100%;
  }
}

#ErrorToast .toast__message {
  margin: 10px 0 0;
  white-space: normal;
  line-height: 1;
  color: #fff;
}

#ErrorToast > .toast {
  background-color: #e51d79;
  border-radius: 4px;
}

.main-logo {
  background-color: #282c37;
  border-radius: 10px;
  padding: 5px 0;
}

.comment {
  display: flex;
  margin-top: 5px;
}

.comment > .icon > img {
  object-fit: cover;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.comment > .main {
  margin-left: 20px;
}

.loading-now {
  text-align: center;
  font-size: xx-large;
}