.white {
    background-color: #fafafa;
}

.white_c {
    color: #fafafa;
}

.y-center {
    text-align: center;
}

.w-max, video {
    width: 100%;
}

.videolistbox {
    width: 100%;
    border-bottom: 1px solid #b2b2b2;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
}

.videolistbox > .left {
    width: 45%;
    background-color: #000;
}

.videolistbox > .right {
    padding: 4px;
    width: 55%;
}

.videolistbox > .right {
    margin-left: 5px;
}

.videolistbox .thumbnail {
    width: 100%;
}

.videoname {
    font-size: 1.2em;
}

.videolistbox .videodesc {
    margin-top: 5px;
}

.username {
    font-size: 13px;
    color: #585858;
}

.cut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

#DisplayBox > .toast {
    background-color: #fafafa;
    border-radius: 4px;
    border: 1px solid #b2b2b2;
}

.VideoonPage {
    position: fixed;
    top: 0;
    left: 0;
}

.FlexBox {
    display: flex;
}

.FlexBox > .left, .FlexBox > .right {
    width: 50%;
}

.FlexBox > .right, .black {
    color: #000;
}

#videoname {
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    white-space: normal;
}

#DisplayBox > .toast {
    padding: 0;
    line-height: initial;
}

#DisplayBox .toast__message {
    margin-right: 5px;
}

.invisible {
    display: none;
}

#videoPage {
    height: 100%;
}

.VideoBox {
    position: relative;
}

.VideoBackController {
    width: 100%;
    position: absolute;
    top: 0;
}

#videomainbox, video {
    line-height: initial;
}

#videoPage {
    padding-top: 60%;
}

.icon {
    object-fit: cover;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

#VideoController {
    z-index: 20000 !important;
}

#VideoController > .toast {
    background-color: rgba(0,0,0,.4);
    border-radius: 0;
    left: 0;
    right: 0;
    margin: 0;
}

#VideoController .toast__message {
    margin: 10px 0 0;
    white-space: normal;
    line-height: 1;
}